* {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

.signin{
text-decoration: none;
}

body {
    background: linear-gradient(to right, rgb(240, 244, 248), #dfe9f4);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.text{
    color: grey;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 60;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

nav a {
    text-decoration: none;
    color: #333;
}

.logo{
    font-weight: 0;
    font-size:15px;
}

.data {
    width: 600px;
    background-color: #ffffff;
    margin-top: 50px;
    padding: 40px 30px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08),
                0 0 40px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form h2 {
    color: black;
    font-size: 540;
    font-weight: 540;
    margin-bottom: 10px;
}

form input {
    width: 90%;
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #fbf9f9;
    font-size: 16px;
    background-color: #f9f8f8;
    border:none;
}

.last{
    margin-top:10px;
    color:#0066ff;
    font-weight: 600;
    margin-left: 300px;
}

form button {
    width: 85%;
    padding: 15px;
    border-radius: 50px;
    border: none;
    color: white;
    margin-top: 30px;
    background-color: #528fec;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}
#acc{
    margin-top: 30px;
    font-size: 15px;
}

.register{
color: #0066ff;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
}

.other{
    color:grey;
    font-size:12px;
    margin-top: 50px;
    margin-bottom: 5px;
}

.google{
    margin-top:5px;
    margin-bottom:10px;
    width:30px;
    margin-right: 5px;
}

#letters{
color:grey;
    font-size:10px;
    margin-bottom: 30px;
}

#letter1{
   
 color:grey;
    font-size:13px;
    margin-right: 5px;
}

    #letter2{
    
 color:grey;
    font-size:13px;
  
}

#letter3{
    
 color:grey;
    font-size:13px;
    margin-right:10px;
    margin-bottom: 20px;   
}


#last{
    margin-top: 90px;
     color:grey;
    font-size:13px;
}